<div [class]="'mainObjektOverflow'">
  <div [class]="'normal'" style="'padding: 18px'">
    <div [class]="'obj'">
      <h2>
        <br/>HDD
        <br/>HDD01
        <br/>HDD02
      </h2>
    </div>

    <div [class]="'obj'" style="margin-left: 20px">
      <h2>
        <br/>Große
        <br/>{{HDD1_Grose}}
        <br/>{{HDD2_Grose}}
      </h2>
    </div>

    <div [class]="'obj'" style="margin-left: 20px">
      <h2>
        <br/>Frei
        <br/>{{HDD1_Frei}}
        <br/>{{HDD2_Frei}}
      </h2>
    </div>

    <div [class]="'obj'" style="margin-left: 20px">
    <h2>
      <br/>UUID
      <br/>{{HDD1_UUID}}
      <br/>{{HDD2_UUUD}}
     </h2>
    </div>

  </div>
</div>



