.black {
  color: black;
}

.normal {
  color:#ffffff;
}

.mainObjektOverflow {
  width: 800px;
  border: 2px solid black;
  overflow: auto;
  margin-left: 150px;
}

.obj {
  color:#ffffff;
  font-family: Ubuntu Mono;
  float: left;
  width: auto;
}

