<!--The content below is only a placeholder and can be replaced.-->
<html bgcolor="123456">
<body bgcolor="#202020">
<div style="text-align:center">
  <h1>
  </h1>
  <img width="300" alt="Logo" src="../assets/tumblr_1280.png">
  <h2 [class]="'normal'">Info Server: </h2>
</div>



  <app-cpu></app-cpu>
  <app-hdd></app-hdd>
  <app-neue-ordner></app-neue-ordner>
  <app-ordner></app-ordner>


<li>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/>
</li>
</body>
</html>
