<div [class]="'mainObjektOverflow'">
  <div [class]="'obj'">
    <div>
      <h2>
        <br/>CPUMax= {{cpuSumme}}
        <br/>CPU00 = {{cpu00}}
        <br/>CPU01 = {{cpu01}}
        <br/>CPU02 = {{cpu02}}
        <br/>CPU03 = {{cpu03}}
        <br/>CPU04 = {{cpu04}}
        <br/>CPU05 = {{cpu05}}
        <br/>CPU06 = {{cpu06}}
        <br/>CPU07 = {{cpu07}}
      </h2>
    </div>

  </div>

  <div [class]="'obj'" style="display:inline;
                              margin-left: 10px">
    <h2 style="display:inline">
      <br/>{{pack08_CPUSumme}}
      <br/>{{pack00_CPU}}
      <br/>{{pack01_CPU}}
      <br/>{{pack02_CPU}}
      <br/>{{pack03_CPU}}
      <br/>{{pack04_CPU}}
      <br/>{{pack05_CPU}}
      <br/>{{pack06_CPU}}
      <br/>{{pack07_CPU}}
    </h2>

  </div>
</div>

